*{
    box-sizing: border-box;
}

.letras{
    position: relative;
    top: 490px;
    left: 211px;
    display: flex;
    flex-wrap: wrap;
    width: 680px;
}

.botao{
    margin-left: 12px;
    margin-bottom: 12px;
}

.botao button{
    border: 1px solid #7AA7C7;
    border-radius: 3px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 40px;
    height: 40px;   
}

.habilitado{
    background: #E1ECF4;
    color: #39739D;
}

.desabilitado{
    background: #9FAAB5;
    color: #798A9F;
}

.jogo{
    position: relative;
}

.divForca{
    position: absolute;
    top: 20px;
    left: 38px;
}

.divForca img{
    width: 400px;
    height: 467px;
}

.divEscolherPalavra{
    position: absolute;
    top: 39px;
    left: 830px;
}

.divEscolherPalavra button{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 60px;
    color: #FFFFFF;
    background: #27AE60;
    border-radius: 8px;
    border: none;
}

.palavra{
    position: absolute;
    left: 600px;
    top: 370px;
    display: flex;
}

.palavra > div{
    margin-right: 30px;
    font-size: 50px;
}

.ganhou{
    color: #27AE60;
}

.perdeu{
    color: #ff0000;
}

.chute{
    position: absolute;
    top: 650px;
    left: 250px;
    display: flex;
}

.chute p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;  
    color: #000000;
}

.chute input{
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    margin-left: 12px;
    width: 353px;
    height: 40px;
}

.chute button{
    background: #E1ECF4;
    border: 1px solid #7AA7C7;
    border-radius: 3px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #3C76A1;
    width: 100px;
    height: 40px;
    margin-left: 15px;
}